*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("images/index.jpg");
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: black;
    border-radius: 30px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 35px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #0effe7;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.navbar ul li:hover::after{
    width: 100%;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 35px;
}
.col{
    margin-top: 50px;
    flex-basis:100%;
    text-align: center;
}
.card{
    width: 1400px;
    height: 550px;
    display: inline-block;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image:linear-gradient(rgb(35, 32, 32),rgb(34, 31, 102),rgb(47, 49, 35));
}

p{
    line-height: 30px;
    font-family: cursive;
    color: antiquewhite;
    font-size: 15px;
}

img{
    margin-top: -360px;
    border-radius: 20px;
    margin-left: 920px;
    margin-bottom: 35px;
}